<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sofa Home</title>




</head>
<body>
<!-- nav general-frontend -->
<div class="body-div">
    <div class="content-wrap">
        <div class="nav">
            <ul>
                <li><a href="index" class="link">Home</a></li>
                <li><a href="login" class="link">Login</a></li>
            </ul>
        </div>


        <h1>Welkom bij Sofa 2.0</h1>

        <main class="flex-center">
            <div>
                jadda
            </div>
            <div>
               jadda
            </div>
        </main>
        <div id="like_button_container"></div> 

        <div class="footer-div">
            <footer class="footer">
                <div class="footer-container">
                    <div class="new-client-container">Sofa bank 2.0 is een project van Joost Kager & Aat Niehot Conclusion Virtual Sciences.
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>